HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
##################################
# OS
##################################
.DS_Store
Thumbs.db

##################################
# IntelliJ IDEA
##################################
.idea/
*.iws
*.iml
*.ipr
*.lck

##################################
# Maven / Java
##################################
target/
*.log
hs_err_pid*

##################################
# Spring Boot
##################################
spring.log

##################################
# H2 / Local databases
##################################
*.mv.db
*.trace.db
data/

##################################
# Environment / secrets
##################################
.env
application-local.yml
application-dev.yml

##################################
# Temporary / backups
##################################
*.tmp
*.bak
*.swp

##################################
# Archives
##################################
*.zip
*.tar
*.gz

application-local.properties
src/main/resources/application.properties
.env
